@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.contact{
    display:flex;
    align-items:center;
    justify-content: flex-start;
    height:100vh;
    background: url('../Assets/background.jpg');
    background-size: cover;
    background-position: center;
    padding: 200px;
    color:#fff;
}

.contact-container{
    background-color: rgba(0,0,0,0.6);
    padding:30px;
    border-radius:10px;
    max-width:400px;
}

.contact h1{
    text-align:center;
    font-size: 36px;
    color: black;
    font-family: "Poppins";
    margin-bottom: 20px;
}

.contact p{
    text-align: left;
    font-family: "Poppins";
    margin-bottom: 30px;
}

.contact form{
    display: flex;
    flex-direction: column;
}

.contact label{
    margin-bottom: 15px;
    font-family: "Poppins";
    color:#fff;
}

.contact input,
.contact textarea{
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    font-family: "Poppins";
}

.contact button{
    padding: 10px 20px;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}

.contact button:hover{
    background-color: #0056b3;
}