@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodyDiv {
    margin: 0;
    font-family: "Poppins", sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../Assets/Carpark7.jpg');
    /* no-repeat; */
    background-size: cover;
    background-position: center;
}

.newbody {
    margin: 0;
    font-family: "Poppins", sans-serif;
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    background: url('../Assets/Carpark7.jpg');
    /* no-repeat; */
    background-size: cover;
    background-position: center;
}

.enterinfo {
    width: 45%;
    height: 80vh;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(30px);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: height 0.3s ease;
    position: relative;
}

.wrapper {
    width: 420px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(30px);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: height 0.3s ease;
    position: relative;
}

.wrapper.active {
    height: 620px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.18s ease;
}

.form-box.login {
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transform: translateX(-100%);
}

.form-box.register {
    transform: translateX(100%);
}

.wrapper.active .form-box.register {
    transform: translateX(0);
}

form h1 {
    font-size: 36px;
    text-align: center;
}

form h2 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

form .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(196, 196, 220);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0 20px 0 45px;
}

.newinputbox input {
    width: max-content;
    height: max-content;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(196, 196, 220,0.4);
    border-radius: 8px;
    font-size: 16px;
    color: #fff;
    padding: 3px 20px 3px 25px;
}

.input-box input::placeholder {
    color: white;
}

.input-box .icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}

form .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 4px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

form button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}

form .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}





